---
---

@import "{{ site.theme }}";

div#main_content_wrap section#main_content p a {
    color: #1b3b8a;
}

p.stats {
    font-weight: bold;font-style:italic;font-size: 0.9em; color: #9f9f9f;
}

h2 {
    color: #1f3f8a;
}

#gcse-at-sidestory table, #gcse-at-sidestory td, #gcse-at-sidestory th {
	border: none;
	line-height: 1;
}

#gcse-at-sidestory .gsc-control-cse {
	padding: 0px !important;
	border: 0px !important;
}

#gcse-at-sidestory .gsc-searc-box {
	margin-bottom: 0px !important;
	padding: 5px !important;
}
